Repository AlexRzhk/react-admin-panel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "src/*.html": "prettier --write",
  "src/*.css": "prettier --write",
  "src/*.js": "eslint",
  "src/*.jsx": "eslint"

}

test
  .eslintrc.json
  .lintstagedrc.json
  src/App.test.js
  src/index.js
  src/reportWebVitals.js
  src/setupTests.js
Due: eslint

script husky install created
  package.json
  src/App.test.jsx
  src/index.jsx
Due: eslint

Initial commit
  LICENSE
Due: none

lint-staged config changed
  .lintstagedrc.json
  src/App.css
  src/reportWebVitals.js
Due: prettier --write, eslint

сделаны правки
  package-lock.json
  package.json
  src/App.jsx
  src/elements/Button/Button.jsx
  src/elements/Button/Button.module.css
  src/elements/Checkbox/Checkbox.jsx
  src/elements/Dropdown/MyDropdown.jsx
  src/elements/Dropdown/MyDropdown.module.css
  src/elements/Dropdown/OrderDelete/OrderDelete.jsx
  src/elements/Dropdown/PageSelector/PageSelector.jsx
  src/elements/Input/Input.jsx
  src/elements/Radio/Radio.jsx
  src/elements/icons/Icon.jsx
  src/elements/icons/Icon.module.css
  src/features/Filter/AdditionalFilter/AdditionalFilter.jsx
  src/features/Filter/AdditionalFilter/DateFilter/DateFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusFilter.module.css
  src/features/Filter/AdditionalFilter/StatusFilter/StatusesSelector/StatusesSelector.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusesSelector/StatusesSelector.module.css
  src/features/Filter/AdditionalFilter/SumFilter/SumFilter.jsx
  src/features/Filter/Filter.jsx
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Header/Header.jsx
  src/features/Header/Header.module.css
  src/features/Header/Switcher/Switcher.jsx
  src/features/Header/Switcher/Switcher.module.css
  src/index.jsx
  src/utils/classnames.js
Due: eslint

redux removed, status is array now, case and cn fixes
  src/App.jsx
  src/elements/Button/Button.jsx
  src/elements/Checkbox/Checkbox.jsx
  src/elements/Dropdown/OrderDelete/OrderDelete.jsx
  src/elements/Dropdown/OrderDelete/OrderDelete.module.css
  src/elements/Dropdown/PageSelector/PageSelector.jsx
  src/elements/Dropdown/PageSelector/PageSelector.module.css
  src/elements/Input/Input.jsx
  src/elements/icons/Icon.jsx
  src/features/Filter/AdditionalFilter/AdditionalFilter.jsx
  src/features/Filter/AdditionalFilter/DateFilter/DateFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusesSelector/StatusesSelector.jsx
  src/features/Filter/AdditionalFilter/SumFilter/SumFilter.jsx
  src/features/Filter/Filter.jsx
  src/features/Header/Switcher/Switcher.jsx
  src/store/slices/data.js
  src/store/slices/filterVisibilitySlice.js
  src/store/slices/tableElementsSlice.js
  src/store/slices/themeSlice.js
  src/store/store.js
Due: eslint

objects for status treatment moved to app.jsx
  src/App.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusesSelector/StatusesSelector.jsx
Due: eslint

table created
  src/App.css
  src/App.jsx
  src/elements/Button/Button.jsx
  src/elements/Button/Button.module.css
  src/elements/Table/Table.jsx
  src/elements/Table/Table.module.css
  src/elements/Table/TableBody/TableBody.jsx
  src/elements/Table/TableBody/TableBody.module.css
  src/elements/Table/TableCell/TableCell.jsx
  src/elements/Table/TableCell/TableCell.module.css
  src/elements/Table/TableFooter/TableFooter.jsx
  src/elements/Table/TableFooter/TableFooter.module.css
  src/elements/Table/TableHeader/TableHeader.jsx
  src/elements/Table/TableHeader/TableHeader.module.css
  src/elements/Table/TableHeaderCell/TableHeaderCell.jsx
  src/elements/Table/TableHeaderCell/TableHeaderCell.module.css
  src/elements/Table/TableRow/TableRow.jsx
  src/elements/Table/TableRow/TableRow.module.css
  src/elements/icons/Icon.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.module.css
  src/features/OrdersList/Table/OrderLIstTableBodyItem/StatusCell/StatusCell.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/StatusCell/StatusCell.module.css
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderLIstTableHeader.module.css
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderListTableHeader.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.module.css
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/PageChooser/PageChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.module.css
  src/features/OrdersList/Table/OrdersLIst.module.css
  src/features/OrdersList/Table/OrdersList.jsx
  src/features/OrdersList/Table/RowMarkup.module.css
  src/features/OrdersList/orders/orders.js
Due: prettier --write, eslint

fixed positionCount propType
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
Due: none

css fixes
  src/App.css
  src/features/Filter/AdditionalFilter/StatusFilter/StatusesSelector/StatusesSelector.module.css
  src/features/Header/Header.module.css
Due: prettier --write

status cell color for text and svg changed
  src/features/OrdersList/Table/OrderLIstTableBodyItem/StatusCell/StatusCell.module.css
Due: none

redux filters sorters pagination
  package-lock.json
  package.json
  src/App.jsx
  src/elements/Input/Input.jsx
  src/features/Filter/AdditionalFilter/DateFilter/DateFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusesSelector/StatusesSelector.jsx
  src/features/Filter/AdditionalFilter/SumFilter/SumFilter.jsx
  src/features/Filter/Filter.jsx
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderListTableHeader.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.module.css
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/PageChooser/PageChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.module.css
  src/features/OrdersList/Table/OrdersList.jsx
  src/features/OrdersList/orders/orders.js
  src/features/index.js
  src/features/store/Filters/FiltersSlice.js
  src/features/store/Orders/OrdersSlice.js
  src/features/store/Selectors/Selectors.js
  src/features/store/store.js
Due: eslint

change status dropdown changed
  src/elements/Input/Input.module.css
  src/elements/Radio/Radio.jsx
  src/elements/Radio/Radio.module.css
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.module.css
Due: none

status change dropdown modified, fix input changes from last commit
  src/elements/Input/Input.module.css
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.module.css
  src/features/store/Filters/FiltersSlice.js
Due: none

form created
  src/App.css
  src/elements/Dropdown/MyDropdown.jsx
  src/features/Filter/Filter.jsx
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Form/DropdownCloseApprover/DropdownCloseApprover.jsx
  src/features/Form/DropdownCloseApprover/DropdownCloseApprover.module.css
  src/features/Form/Form.jsx
  src/features/Form/Form.module.css
  src/features/Form/OrderDetail/OrderDetail.jsx
  src/features/Form/OrderDetail/OrderDetail.module.css
  src/features/Form/StatusSelectorByModal/StatusSelectorByModal.jsx
  src/features/Form/StatusSelectorByModal/StatusSelectorByModal.module.css
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.module.css
  src/features/OrdersList/Table/OrderLIstTableBodyItem/StatusCell/StatusCell.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/StatusCell/StatusCell.module.css
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderListTableHeader.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/PageChooser/PageChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/Table/OrdersList.jsx
  src/features/OrdersList/orders/orders.js
  src/features/store/Filters/FiltersSlice.js
  src/features/store/Form/FormSlice.js
  src/features/store/Orders/OrdersSlice.js
  src/features/store/Selectors/Selectors.js
  src/features/store/store.js
Due: prettier --write

input fixed
  src/elements/Input/Input.module.css
Due: none

table status dropdown fixed
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
Due: none

final changes
  src/elements/Input/Input.module.css
Due: none

css fixes
  src/elements/Input/Input.module.css
Due: none

css fixes loader moving while loading files
  src/elements/Button/Button.jsx
  src/elements/icons/Icon.jsx
  src/elements/icons/Icon.module.css
  src/features/Filter/Filter.jsx
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Filter/MainFilter/MainFilter.module.css
  src/features/Form/DropdownCloseApprover/DropdownCloseApprover.jsx
  src/features/Form/DropdownCloseApprover/DropdownCloseApprover.module.css
  src/features/Form/Form.jsx
  src/features/Form/Form.module.css
  src/features/Form/OrderDetail/OrderDetail.jsx
  src/features/Header/Switcher/Switcher.module.css
  src/features/OrdersList/Table/OrderLIstTableBodyItem/StatusCell/StatusCell.module.css
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderListTableHeader.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.module.css
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.module.css
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/orders/orders.js
  src/features/store/Filters/FiltersSlice.js
  src/features/store/Form/FormSlice.js
  src/features/store/Selectors/Selectors.js
Due: none

hide delete and change buttons
  sber_school.md
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Form/Form.jsx
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderListTableHeader.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/store/Selectors/Selectors.js
Due: none

pagination fixed
  src/elements/Button/Button.jsx
  src/elements/Dropdown/MyDropdown.jsx
  src/elements/icons/Icon.jsx
  src/elements/icons/Icon.module.css
  src/features/Filter/Filter.jsx
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Filter/MainFilter/MainFilter.module.css
  src/features/Header/Switcher/Switcher.module.css
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.module.css
  src/features/OrdersList/Table/OrderLIstTableBodyItem/StatusCell/StatusCell.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/StatusCell/StatusCell.module.css
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderListTableHeader.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.module.css
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/PageChooser/PageChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.module.css
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.module.css
  src/features/OrdersList/Table/OrdersList.jsx
  src/features/OrdersList/orders/orders.js
  src/features/store/Filters/FiltersSlice.js
  src/features/store/Orders/OrdersSlice.js
  src/features/store/Selectors/Selectors.js
Due: none

form fixes
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Filter/MainFilter/MainFilter.module.css
  src/features/Form/Form.jsx
Due: none

status chooser changed
  src/App.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusFilter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/orders/orders.js
Due: eslint

isModalFormActive removed from formSlice
  src/features/Form/Form.jsx
  src/features/Form/OrderDetail/OrderDetail.jsx
  src/features/store/Form/FormSlice.js
Due: none

store elements renamed, close without saving dropdown on form no longer show if data not changed
  src/features/Filter/AdditionalFilter/DateFilter/DateFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusesSelector/StatusesSelector.jsx
  src/features/Filter/AdditionalFilter/SumFilter/SumFilter.jsx
  src/features/Filter/Filter.jsx
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Form/Form.jsx
  src/features/Form/StatusSelectorByModal/StatusSelectorByModal.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderListTableHeader.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/PageChooser/PageChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/Table/OrdersList.jsx
  src/features/store/selectors.js
  src/features/store/store.js
Due: none

when order deleted, delete form closed
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
Due: none

slices renamed
  src/features/Filter/AdditionalFilter/DateFilter/DateFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusesSelector/StatusesSelector.jsx
  src/features/Filter/AdditionalFilter/SumFilter/SumFilter.jsx
  src/features/Filter/Filter.jsx
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Form/Form.jsx
  src/features/Form/StatusSelectorByModal/StatusSelectorByModal.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderListTableHeader.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/PageChooser/PageChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/Table/OrdersList.jsx
  src/features/store/store.js
Due: none

filters for sum changed
  src/features/store/selectors.js
Due: none

footer button size changed
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.jsx
  src/features/OrdersList/Table/OrderListTableFooter/OrderListTableFooter.module.css
Due: none

footer delete dropdown changed
  src/elements/Checkbox/Checkbox.module.css
  src/elements/Table/TableRow/TableRow.jsx
  src/features/Form/Form.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.module.css
  src/features/OrdersList/Table/RowMarkup.module.css
  src/features/store/Form/FormSlice.js
  src/features/store/Orders/OrdersSlice.js
  src/features/store/selectors.js
Due: none

form slice changed
  src/features/Form/Form.jsx
  src/features/Form/StatusSelectorByModal/StatusSelectorByModal.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/store/Form/FormSlice.js
Due: none

form slice changed, validate for errors function in form created
  src/features/Form/Form.jsx
  src/features/Form/OrderDetail/OrderDetail.jsx
  src/features/store/Form/FormSlice.js
Due: none

validation changed
  src/features/Filter/AdditionalFilter/DateFilter/DateFilter.jsx
  src/features/Filter/AdditionalFilter/StatusFilter/StatusesSelector/StatusesSelector.jsx
  src/features/Filter/AdditionalFilter/SumFilter/SumFilter.jsx
  src/features/Filter/Filter.jsx
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Form/Form.jsx
  src/features/Form/OrderDetail/OrderDetail.jsx
  src/features/Form/StatusSelectorByModal/StatusSelectorByModal.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/OrdersList/Table/OrderLIstTableHeader/OrderListTableHeader.jsx
  src/features/OrdersList/Table/OrderListTableFooter/DeletionApprover/DeletionApprover.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/PageChooser/PageChooser.jsx
  src/features/OrdersList/Table/OrderListTableFooter/Pagination/Pagination.jsx
  src/features/OrdersList/Table/OrderListTableFooter/StatusChooser/StatusChooser.jsx
  src/features/OrdersList/Table/OrdersList.jsx
  src/features/store/Filters/filtersSlice.js
  src/features/store/Form/formSlice.js
  src/features/store/Orders/ordersSlice.js
  src/features/store/selectors.js
  src/features/store/store.js
Due: none

async loader created
  package-lock.json
  package.json
  src/features/Filter/MainFilter/MainFilter.jsx
  src/features/Form/Form.jsx
  src/features/index.js
  src/features/store/Form/formAction.js
  src/features/store/Orders/OrdersSlice.js
  src/features/store/Orders/ordersSlice.js
  src/features/store/loader/loaderSlice.js
  src/features/store/selectors.js
  src/features/store/store.js
Due: none

orderDetail fixed
  src/features/Form/OrderDetail/OrderDetail.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.jsx
  src/features/OrdersList/Table/OrderLIstTableBodyItem/OrderLIstTableBodyItem.module.css
Due: none

new selectors added
  src/features/Form/StatusSelectorByModal/StatusSelectorByModal.jsx
  src/features/store/selectors.js
Due: none
